.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    padding: 0 70px;
    list-style: none;
    font-size: 0;
    line-height: 0;
    row-gap: 37px;
    column-gap: 24px;
    margin-top: 80px;
}

@media screen and (max-width:320px) {
    .cards {
        padding: 0 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

}

.movies__error {
    display: block;
}

.more-button {
    padding: 0;
    background-color: #2F2F2F;
    border: none;
    color: #fff;
    max-width: 1140px;
    min-width: 300px;
    margin-left: 70px;
    margin-right: 70px;
    height: 36px;
    border-radius: 6px;
    margin-top: 60px;
    margin-bottom: 80px;
    cursor: pointer;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.more-button_disabled {
    display: none;
}
@media screen and (max-width:768px) {
    .cards {
        padding: 0 30px;
        row-gap: 30px;
        column-gap: 30px;
        margin-bottom: 30px;
    }
    .more-button {
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 50px;
    }
}

@media screen and (max-width:730px) {
    .more-button {
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media screen and (max-width:350px) {
    .cards {
        padding: 0 10px;
        margin-top: 50px;
        margin-bottom: 26px;
        row-gap: 14px;
    }
    .more-button {
        margin-right: 10px;
        margin-left: 10px;
    }
}