.profile {
    display: flex;
    flex-direction: column;
}
.profile-form {
    position: relative;
}
.profile-form__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 410px;
    padding-bottom: 16px;
    margin-bottom: 14px;
    border-bottom: 1px solid #424242;
}
.profile-form__box:last-child {
    border-bottom: none;
}
.profile__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 74px 0 123px 0;
}
.profile-form__message {
    margin-top: 20px;
}
.profile-form__title {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile-form__input {
    background-color: transparent;
    border: none;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    color: #fff;
    padding: 0;
    outline: none;
    border-radius: 5px;
}

.profile-form__input:focus {
    outline: #4285F4 solid 2px;
}

.profile-form__input::placeholder {
    color: #fff;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
}
.profile-form__error {
    display: flex;
    justify-content: center;
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-bottom: 10px;
}
.profile-form__container {
    margin-bottom: 10px;
}
.profile__button-edit {
    font-weight: 400;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 188px;
}
.profile__button-logout{
    font-weight: 500;
    color: #EE3465;
    text-decoration: none;
}

.profile__button_disabled {
    display: none;
}

.profile__button {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
}

.profile__button-save {
    border-radius: 3px;
    background: #3456F3;
    padding: 14px 170px;
    margin: 0 auto;
    margin-top: 230px;
    color: #fff;
}
.profile__button:hover {
    opacity: 0.8;
}

.profile__button-save_disabled {
    background-color: #686868;
    cursor: default;
}

@media screen and (max-width:768px) {
    .profile__title {
        margin-top: 232px;
        margin-bottom: 96px;
    }
    .profile-form {
        margin: 0 40px;
    }
    .profile__button-edit {
        margin-top: 178px;
        margin-bottom: 16px;
    }
}
@media screen and (max-width:700px) {
    .profile__button-save {
        padding: 14px 100px;
    }
}
@media screen and (max-width:320px) {
    .profile__title {
        margin-top: 66px;
        margin-bottom: 80px;
    }
    .profile-form {
        margin: 0 30px;
    }
    .profile-form__box {
        margin-bottom: 17px;
    }
    .profile__button-edit {
        margin-top: 345px;
    }
    .profile__button {
        font-size: 12px;
    }
}
